.status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 14px;
    color: white;
}

.active {
    background: orangered;
}
.future {
    background: orange;
}
.builtout {
    background: green;
}
.img-padd {
    padding: 10% 20%;
}
.cardback {
    background: linear-gradient(to bottom, #fafafa, #fff);
}

.cardback:hover {
    background: #fff;
    border: 10px solid red;
}