.status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 14px;
    color: white;
}

.active {
    background: orangered;
}
.future {
    background: orange;
}
.builtout {
    background: green;
}
.img-padd {
    padding: 10% 20%;
    height: 200px;
}
.cardback {
    background: linear-gradient(to bottom, #fafafa, #fff);
    transition: transform .5s, visibility .5s ease-in-out;
}

.cardback:hover {
    background: #fff;
    cursor: pointer;
    /* border: 10px solid red; */
}

.img-container {

}
.img-container img {
    width: 100%;   /* Ensure the image takes up the full width */
    height: 100%;  /* Ensure the image takes up the full height */
    object-fit: cover; /* or 'contain', depending on behavior */
    max-height: 180px;
    min-height: 187px;
    transform-origin: 0.8 1;
    transition: transform .5s, visibility .5s ease-in-out;
}

.cardback:hover img {
    transform: scale(1.04);
    border-radius: 5px;
}
