.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

mat-card {
    padding: 20px;
    /* margin: 20px 0; */
    /* width: 300px; */
    box-shadow: none;
}